.component-container {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	header {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;

		h1 {
			font-size: 22px;
			font-weight: bold;
			text-transform: capitalize;
		}

		.tag-code-container {
			color: #dd6c75;
			font-size: 14px;
			margin-top: 5px;
			background-color: #1e262b;
			width: max-content;
			padding: 0.2rem;
			letter-spacing: 1px;
		}

		.tag-highlight {
			color: #979a9b;
		}
	}
}

.component-tabs-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	position: relative;
	margin-bottom: 1rem;

	&::after {
		content: '';
		position: absolute;
		bottom: -0.8rem;
		left: 0;
		width: 100%;
		border-bottom: 1px solid #1e262b;
	}
}

.tab-button {
	cursor: pointer;
	border-radius: 7px;
	border: 0;
	padding: 0.4rem 0.6rem;
	font-size: 15px;
	width: max-content;
	background: none;
	position: relative;

	&:hover {
		background-color: #1a222a;
	}

	&.active {
		font-weight: bold;
		color: #e0ff8b;

		&::after {
			content: '';
			position: absolute;
			bottom: -0.7rem;
			left: 0;
			width: 100%;
			border-bottom: 4px solid #e0ff8b;
			border-radius: 10px;
			z-index: 1;
		}
	}
}

.component-preview-container {
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	background-color: #0e1116;
	padding: 2rem;
	border: 1px solid #1e262b;
	position: relative;

	.copy-button {
		position: absolute;
		bottom: 5px;
		right: 5px;
		border: 1px solid #1e262b;
		background: none;
		color: white;
		border-radius: 7px;
		cursor: pointer;
		padding: 0.2rem 0.6rem;
		display: flex;
		align-items: center;
		gap: 0.3rem;

		&:hover {
			background: #1a222a;
			/* color: black; */
		}
	}

	&.doc {
		justify-content: flex-start;
	}
}

.live-preview-tab-content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.documentation-tab-content {
	display: none;
	flex-direction: column;
}
